@tailwind base;
@tailwind components;
@tailwind utilities;

.terminal {
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 20px;
  }
  .signinform{
    padding: 20px;
  }
  .field {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  .prompt {
    color: lightgreen;
    margin-right: 10px;
  }
  .input {
    background: none;
    border: none;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    outline: none;
    width: 200px;
    caret-shape: underscore;
  }
  .message {
    color: red;
    margin-top: 20px;
  }
  .auth-message {
    margin-left: 17px;
  }
  /* Add this new style for WebKit browsers */
  .input::-webkit-text-fill-color {
    color: green;
  }
  /* And this for Firefox */
  .input::selection {
    color: green;
  }